<!DOCTYPE html>
<html>

    <head>
        <title>project bro</title>
    </head>

    <body>
        <header>

            <nav>

                {% if user.is_authenticated %}
                    <ul>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                        <li><a href="{% url 'list_projects' %}">My projects</a></li>
                        <li><a href="{% url 'show_my_tasks' %}">My tasks</a></li>
                    </ul>
                {% else %}
                    <li><a href="{% url 'login' %}">logout</a></li>
                    <li><a href="{% url 'signup' %}">signup</a></li>
                {% endif %}


            </nav>

        </header>

        {% block content %}
        {% endblock content %}
    </body>

</html>