{% extends 'base.html' %}
{% block content %}
    <nav>
        {% if user.is_authenticated %}
            <a href="{% url 'create_project' %}">Create a project</a>
        {% endif %}
        <a href="{% url 'create_task' %}">Create a task</a>

        <a href="{% url 'show_my_tasks' %}"> Your tasks</a>
    </nav>


    <main>
        <div>
            <h1>My Projects</h1>

            {% if not project_list %}
                <p>You are not assigned to any projects</p>
                </div>
            {% else %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                    {% for project in taskcontext %}
                        <tr>

                            <td><a href="{% url 'show_project' project.pk%}"> {{project.name}}</a></td>
                            <td>{{project.number_of_tasks}}</td>
                        </tr>
                    {% endfor %}
            {% endif %}
        </table>
    </main>

{% endblock content %}